/*external css/external styling
	inline -100
	internal -10
	external -50

	specificity
		selectors
			-id
			-class
			-combinators

	Relative lengths
		-are lengths that change relative to something
			-% unit for percentage
			- em relative to the current font size
			- rem relative to the current font size on the html element
			- vw relative to the width of the viewport
			divided 100
			-vh relative to the height of the viewport
			divided by 100

	Absolute lengths
			-are lengths that do not change
			- px unit of pixels
			- in unit of inches
			-pt unit of points


*/
/*Universal selector - allows us to select all of our elements*/

*{
	/*
		ALL Elements will now have a font style of courier
		new and the default will be about 20px
		monospace is a fallback font. In the event of the machine
		used to view your documents does not have declared font. We will
		fallback to similar.

		font-family changes the font style
		font-size changes size of text
	*/
	font-family: "Courier, New", monospace;
	font-size:20px;
	/*css reset
	*/
	margin:0;
	padding:0;
}
/*selectors - used to select elements by their tag name*/
body{
	background-color: skyblue;
}

html{
	scroll-behavior: :smooth;
}

nav{
	background-color: white;
}
/*type selector allows to select all elements
of the same type/tag*/
h1{
	color: black !important;
	text-align: center;
	font-size: 2rem;
	/*rem is a measurement which means num multipled by the default
	size of the root element's font(16pxs)*/
}

section {
	height: : 100vh;
	/* vh means viewport height meaning this measurement
	takes the percentage of the overall height of the screen 
	you are viewing*/
	text-align:center;
	/*align text horizzontally*/
}

h2{
	font-size: 1.5rem;
}

ol{
	list-style-type:none; 
}

/*id selector it is given more priority than other selector*/
#zuitt-motto {
	letter-spacing: 5px;
}
/* class slector for elements of the same classes*/
.offering-item{
		text-transform: uppercase;
}

/*attribute selector - allows us to select particular
elements with the same attribute
		tagname[attribute]
			border-width:allows us to determine the thickness of an
			element's border;
			border-style: allows to determine the style of the border;
			border-color: allows us to determine the color of an elemen's border;*/

input[required]{
	border-width:2px;
	border-style:solid;
	border-color:navy;
	width: 90%;
	/* we define the width of our input to be atleast
	90% of the width of it's parent element*/
}

/*Adjacent Sibling Selector - alllows us to select
a particular element that immediately follows a sobling element
selector + selector
height and width properties will resize our element
border-radius rounds out the corners of an element. The higher
the border radius the more circular*/

#zuitt-motto + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/* Descendant Selector - allows us to select elements that are the descendants of the first selector(ancestor)
ancestor descendant
		color property and other similar properties can alos accept hex
		values. Hexadecimal value consist of a # sign and the combination of 6 alphanumeric
		characters.*/

		#bootcamp-learning-list-li{
			color: #075966;
		}

/*Genral sibling selector - allows us to select siblings that
are often our previoys sibling (first selector)
sibling - selected sibling*/

/*h2 ~ a{*/
	/*text-decoration: none;*/
/*}*/

a{
	text-decoration: none;
}

form{
	text-align:center;
	background-color:white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	

	/* position property changes the position of an element
	based on a certain criteria.
	position: relative- allows to move the position property
	to add a certain measurement to the left of the element.
	the value % is based on the measurement of the parent element.
	the parent element being the section tag which is a block element and occupies the full width of the page


	in this the value of the left property is 37% from 100% of 
	it's parent element*/
	position:relative;
	left:37.25%;
}

/*child selector allows to slect a particular child of parent
element.
parent>child
*/

section>form>label{
	color:rb(0,0,128);
}

#button1{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;

}