


*{
	font-family: "Vendana", sans-serif;
	font-size:20px;
	
	margin:0;
	padding:0;
}
/*selectors - used to select elements by their tag name*/
body{
	background-color: skyblue;
}

html{
	scroll-behavior: :smooth;
}

nav{
	background-color: white;
}

h1{
	color: black !important;
	text-align: center;
	font-size: 3rem;

}

section {
	height: : 100vh;
	
	text-align:center;

}

h2{
	font-size: 1.5rem;
}

.offering-item{
	list-style-type:none;
	background-color: #90EE90; 
}

.tools{
	border: 2px solid;
	border-color: #0000FF;
	
}

#zuitt-motto {
	letter-spacing: 5px;

}

#welcome{
	text-transform: uppercase;

}

#register{
	text-transform: uppercase;

}

#zuittex{
   color: #FFFF00
}

.offering-item{
	text-transform: uppercase;
}



input[required]{
	border-width:2px;
	border-style:solid;
	border-color:navy;
	width: 90%;

}


/*Descenddant selector*/
#zuitt-motto img {
	
	height: 20vh;
	width: 20vh;
	border-radius: 150px;
}


/*Descendant selector*/
ol li{
	color: #075966;
}
/*adjacent sibling*/
p + img{
	list-style-type: none;
}
/*child selector*/

section>ol>ol{
	letter-spacing: 10px;
}
/*/*General Sibling Selector*/
section ~ p{
	text-align:center;

}
a{
	text-decoration: none;
}


form{
	text-align:center;
	background-color:white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	

	/* position property changes the position of an element
	based on a certain criteria.
	position: relative- allows to move the position property
	to add a certain measurement to the left of the element.
	the value % is based on the measurement of the parent element.
	the parent element being the section tag which is a block element and occupies the full width of the page


	in this the value of the left property is 37% from 100% of 
	it's parent element*/
	position:relative;
	left:37.25%;
}

/*child selector allows to slect a particular child of parent
element.
parent>child
*/

section>form>label{
	color:rgb(128,0,0);
}

#button1{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;

}